@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #8a8a8a inset !important;
  -webkit-text-fill-color: black !important;
}

input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #8a8a8a inset !important;
  -moz-text-fill-color: black !important;
}
